@tailwind base;
@tailwind components;
@tailwind utilities;


.accordion-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 700ms ease-out;
}

.accordion-container > div {
    overflow: hidden;
}

.open {
    grid-template-rows: 1fr;
}

